sigidoc-chained.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/odd/p5odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/odd/p5odds.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en" xmlns:tei="http://www.tei-c.org/ns/1.0"
   xmlns:sch="http://purl.oclc.org/dsdl/schematron">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title/>
         </titleStmt>
         <publicationStmt>
            <p>Not yet published</p>
         </publicationStmt>
         <sourceDesc>
            <p>document de travail</p>
         </sourceDesc>
      </fileDesc>
      <revisionDesc>
         <change who="#AS" when="2024-06-05">Preliminary version of descriptions for condition/@rend's values added</change>
         <change who="#AS" when="2024-05-28">Constraining values added to rs/@type nested in collection; @ana added to figDesc/n='r', 'v' as required for iconography</change>
         <change who="#AS" when="2024-04-16">Changes to altIdentifier deleted in order to have files validated against EpiDoc schema</change>
         <change who="#AS" when="2024-03-26">First SigiDoc ODD prepared: to be checked</change>
         <change who="#AS" when="2024-03-19">First SigiDoc ODD prepared: to be checked</change>
         <change who="#AS" when="2023-11-20">Resuming preparation of SigiDoc ODD</change>
         <change who="#EMo" when="2023-11-07">Remarks and questions for #AS</change>
         <change who="#EMo" when="2023-10-27">Amendments and corrections to first partial SigiDoc ODD</change>
         <change who="#AS" when="2023-06-28">First SigiDoc partial ODD</change>
      </revisionDesc>
   </teiHeader>
   
   <!-- often the documentation (i.e. the explanation of elements and attributes from the TEI guidelines) is lost when something is changed
   SigiDoc documentation to be completed
   -->
   
   <text>
      <body>
         <schemaSpec ident="tei-epidoc-sigidoc"
            source="https://epidoc.stoa.org/schema/latest/tei-epidoc.compiled.xml" start="TEI">
            <moduleRef key="tei"/>
            <moduleRef key="header" except="extent seriesStmt notesStmt"/><!-- exceptions added -->
            <moduleRef key="core"/>
            <moduleRef key="textstructure"/>
            <moduleRef key="transcr"/>
            <moduleRef key="verse"/>
            <moduleRef key="analysis"/>
            <moduleRef key="certainty"/>
            <moduleRef key="gaiji"/>
            <moduleRef key="linking"/>
            <moduleRef key="msdescription"/>
            <moduleRef key="namesdates"/>
            <moduleRef key="textcrit"/>
            <moduleRef key="figures"/>
            <moduleRef key="spoken"/>
            <moduleRef key="corpus"/>
            <moduleRef key="dictionaries"/>

            <!--        CHANGED ELEMENT SPECS        -->
            
            <!-- altIdentifier --><!-- AS 2024-03-10; changes deleted AS 2024-04-16 -->
            <!-- @maxOccurs added to collection and idno -->
            
            <!-- c --><!-- AS 2023-11-20 -->
            <!-- for the encoding of Athena Ruby's characters: TO BE REVISED / NOT IN USE YET -->
            <elementSpec ident="c" module="analysis" mode="change">
               <attList>
                  <!-- constraining values of c/@type -->
                  <attDef ident="type" mode="replace" usage="req">
                     <valList type="closed">
                        <valItem ident="glyph">
                           <desc xml:lang="en" versionDate="2023-06-27">The individual glyph/character to be encoded</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- collection --><!-- AS 2024-03-05 -->
            <elementSpec ident="collection" module="msdescription" mode="change">
               <content>
                  <elementRef key="rs" minOccurs="1" maxOccurs="unbounded"/>
               </content>
               <attList>
                  <!-- suggested values of collection/@type -->
                  <attDef ident="type" mode="replace" usage="req">
                     <datatype minOccurs="0" maxOccurs="1">
                        <dataRef key="teidata.enumerated"/>
                     </datatype>
                     <valList type="semi">
                        <valItem ident="private">
                           <desc xml:lang="en" versionDate="2024-03-05">For a private collection.</desc>
                        </valItem>
                        <valItem ident="public">
                           <desc xml:lang="en" versionDate="2024-03-05">For a public collection.</desc>
                        </valItem>
                        <valItem ident="loaned">
                           <desc xml:lang="en" versionDate="2024-03-09">Private collection in (permanent) loan to a holding institution.</desc>
                        </valItem>
                        <valItem ident="undetermined">
                           <desc xml:lang="en" versionDate="2024-03-05">For the undetermined nature of a collection's ownership.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- condition --><!-- last modified: AS 2024-06-05, to be finished -->
            <elementSpec ident="condition" module="msdescription" mode="change">
               <attList>
                  <!-- suggested values of condition/@rend -->
                  <attDef ident="rend" mode="change" usage="req">
                     <desc xml:lang="en" versionDate="2024-02-25">Suggested values include: 1] blank-too-small ; 2] broken ;
                        3] clipped ; 4] cut ; 5] deformed-blank ; 6] double-struck ; 7] graffitied ; 8] not-centered ;
                        9] overstruck ; 10] pierced ; 11] worn-edge ; 12] obliterated ; 13] crushed ; 14] mistruck ;
                        15] well-preserved ; 16] well-struck ; 17] blank-too-large ; 18] corroded ; 19] torn-channel ;
                        20] chipped; 21] fragment.</desc>
                     <datatype minOccurs="1" maxOccurs="unbounded"><!-- documentation to be added -->
                        <dataRef key="teidata.enumerated"/>
                     </datatype>
                     <valList type="semi" mode="change">
                        <valItem ident="blank-too-small">
                           <desc xml:lang="en" versionDate="2024-06-05">Blank is too small for the matrix.</desc>
                        </valItem>
                        <valItem ident="broken">
                           <desc xml:lang="en" versionDate="2024-06-05">Seal is broken due to unvoluntary mechanical damage.</desc>
                        </valItem>
                        <valItem ident="clipped">
                           <desc xml:lang="en" versionDate="2024-06-05">Seal has been clipped on purpose.</desc>
                        </valItem>
                        <valItem ident="cut">
                           <desc xml:lang="en" versionDate="2024-06-05">Seal has been cut on purpose.</desc>
                        </valItem>
                        <valItem ident="deformed-blank">
                           <desc xml:lang="en" versionDate="2024-06-05">Seal is deformed.</desc>
                        </valItem>
                        <valItem ident="double-struck">
                           <desc xml:lang="en" versionDate="2024-06-05">Seal struck at least twice with the same imprint.</desc>
                        </valItem>
                        <valItem ident="graffitied">
                           <desc xml:lang="en" versionDate="2024-02-25"></desc>
                        </valItem>
                        <valItem ident="not-centered">
                           <desc xml:lang="en" versionDate="2024-06-05">Imprint is not centered.</desc>
                        </valItem>
                        <valItem ident="overstruck">
                           <desc xml:lang="en" versionDate="2024-06-05">Seal struck with at least one different imprint.</desc>
                        </valItem>
                        <valItem ident="pierced">
                           <desc xml:lang="en" versionDate="2024-06-05">Seal has been pierced, possibly on purpose.</desc>
                        </valItem>
                        <valItem ident="worn-edge">
                           <desc xml:lang="en" versionDate="2024-06-05">Seal is worn on the edge.</desc>
                        </valItem>
                        <valItem ident="obliterated">
                           <desc xml:lang="en" versionDate="2024-06-05">Seal is obliterated.</desc>
                        </valItem>
                        <valItem ident="crushed">
                           <desc xml:lang="en" versionDate="2024-06-05">Seal is crushed.</desc>
                        </valItem>
                        <valItem ident="mistruck">
                           <desc xml:lang="en" versionDate="2024-02-25"></desc>
                        </valItem>
                        <valItem ident="well-preserved">
                           <desc xml:lang="en" versionDate="2024-06-05">Seal is well preserved.</desc>
                        </valItem>
                        <valItem ident="well-struck">
                           <desc xml:lang="en" versionDate="2024-02-25"></desc>
                        </valItem>
                        <valItem ident="blank-too-large">
                           <desc xml:lang="en" versionDate="2024-06-05">Blank is too large for the matrix.</desc>
                        </valItem>
                        <valItem ident="corroded">
                           <desc xml:lang="en" versionDate="2024-06-05">Seal is corroded.</desc>
                        </valItem>
                        <valItem ident="torn-channel">
                           <desc xml:lang="en" versionDate="2024-06-05">Channel is torn.</desc>
                        </valItem>
                        <valItem ident="chipped">
                           <desc xml:lang="en" versionDate="2024-06-05">Seal is chipped.</desc>
                        </valItem>
                        <valItem ident="fragment">
                           <desc xml:lang="en" versionDate="2024-02-25"></desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- corr --><!-- AS 2023-11-15; last modified: AS 2024-03-17 -->
            <elementSpec ident="corr" module="core" mode="change">
               <constraintSpec ident="corr" scheme="schematron" mode="add">
                  <constraint>
                     <sch:pattern>
                        <sch:rule context="tei:date/tei:choice/tei:corr">
                           <sch:assert test="@evidence">With corr nested inside date, @evidence must be supplied.</sch:assert>
                        </sch:rule>
                     </sch:pattern>
                  </constraint>
               </constraintSpec>
               <attList>
                  <!-- constraining values of corr/@evidence -->
                  <!-- several values allowed: the schema also allows the repetition of the same value, as in EpiDoc -->
                  <attDef ident="evidence" mode="change" usage="rec">
                     <desc xml:lang="en" versionDate="2023-11-20">Suggested values include: 1] archaeological-context; 2] internal-date; 3] epigraphy; 4] onomastics; 5] prosopography; 6] terminology; 7] titulature;
                        8] reign; 9] historical-context; 10] iconography; 11] parallel; 12] related-seal; 13] coinage; 14] overstrike; 15] understrike; 16] decoration; 17] linguistic features;
                        18] attached-document; 19] undetermined.</desc>
                     <valList type="closed" mode="replace">
                        <valItem ident="archaeological-context">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by the archaeolgical
                              context, stratigraphy or associated finds</desc>
                        </valItem>
                        <valItem ident="internal-date">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by explicit internal
                              date</desc>
                        </valItem>
                        <valItem ident="epigraphy">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated
                              palaeographically</desc>
                        </valItem>
                        <valItem ident="onomastics">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by onomastics</desc>
                        </valItem>
                        <valItem ident="prosopography">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by known persons named
                              or implied within it</desc>
                        </valItem>
                        <valItem ident="terminology">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by the vocabulary
                              used</desc>
                        </valItem>
                        <valItem ident="titulature">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by the use of official
                              titles</desc>
                        </valItem>
                        <valItem ident="reign">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by the reign of an
                              emperor or other ruler</desc>
                        </valItem>
                        <valItem ident="historical-context">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by the broad
                              historical context</desc>
                        </valItem>
                        <valItem ident="iconography">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by the images</desc>
                        </valItem>
                        <valItem ident="parallel">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by the parallel
                              seal(s)</desc>
                        </valItem>
                        <valItem ident="related-seal">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by similar seals or
                              variously related to the edited seal</desc>
                        </valItem>
                        <valItem ident="coinage">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by comparison with
                              coins</desc>
                        </valItem>
                        <valItem ident="overstrike">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by an overstruck
                              imprint</desc>
                        </valItem>
                        <valItem ident="understrike">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by an understruck
                              imprint</desc>
                        </valItem>
                        <valItem ident="decoration">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by the decoration
                              elements</desc>
                        </valItem>
                        <valItem ident="linguistic-features">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by linguistic
                              features</desc>
                        </valItem>
                        <valItem ident="monogram-type">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by monogram
                              type</desc>
                        </valItem>
                        <valItem ident="attached-document">
                           <desc xml:lang="en" versionDate="2024-03-08">Dated according to
                              the document the seal is attached to</desc>
                        </valItem>
                        <valItem ident="undetermined">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated according to
                              undetermined criteria</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- date --><!-- AS 2024-03-08; deleted: AS 2024-03-13 -->
            
            <!-- dim --><!-- AS 2024-02-25 -->
            <elementSpec ident="dim" module="msdescription" mode="change">
               <attList>
                  <attDef ident="type" mode="replace" usage="req">
                     <!-- suggested values of dim/@type -->
                     <desc xml:lang="en" versionDate="2024-02-25">The`measurement of the dimensions (whole seal or imprint).</desc>
                     <datatype minOccurs="1" maxOccurs="1">
                        <dataRef key="teidata.enumerated"/>
                     </datatype>
                     <valList type="semi">
                        <valItem ident="diameter">
                           <desc xml:lang="en" versionDate="2024-02-25">The measurement of the diameter (whole seal or imprint).</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- dimensions --><!-- AS 2023-11-28; last modified: AS 2024-03-15 -->
            <elementSpec ident="dimensions" module="msdescription" mode="change">
               <constraintSpec ident="dimensions" scheme="schematron" mode="add">
                  <constraint>
                     <sch:pattern>
                        <!-- constraints values of dimensions/@type according to the position of dimensions -->
                        <sch:rule context="tei:layout[@n='r' or @n='v']/tei:dimensions">
                           <sch:assert test="@type='written'">With dimensions as a child element of layout/@n='r' or 'v', @type with a value of 'written' must be supplied.</sch:assert>
                        </sch:rule>
                        <sch:rule context="tei:support/tei:dimensions">
                           <sch:assert test="@type='support'">With dimensions as a child element of support, @type with a value of 'support' must be supplied.</sch:assert>
                        </sch:rule>
                     </sch:pattern>
                  </constraint>
               </constraintSpec>
               <attList>
                  <attDef ident="type" mode="replace" usage="req">
                     <desc xml:lang="en" versionDate="2023-06-28">The dimensions of the whole seal or of the imprint</desc>
                     <valList type="closed">
                        <valItem ident="support">
                           <desc xml:lang="en" versionDate="2023-06-28">The dimensions of the whole seal (object)</desc>
                        </valItem>
                        <valItem ident="written">
                           <desc xml:lang="en" versionDate="2023-06-28">The dimensions of the imprint</desc>
                        </valItem>
                     </valList>
                  </attDef>
                  <attDef ident="unit" mode="replace" usage="req">
                     <!-- suggested values of dimensions/@unit -->
                     <desc xml:lang="en" versionDate="2023-06-28">The unit used to express the dimensions of the whole seal or of the imprint</desc>
                     <datatype minOccurs="1" maxOccurs="1">
                        <dataRef key="teidata.enumerated"/>
                     </datatype>
                     <valList type="semi">
                        <valItem ident="mm">
                           <desc xml:lang="en" versionDate="2023-06-28">Indicates the unit used for the measurement (millimetre is the default value)</desc>
                        </valItem>
                     </valList>
                  </attDef>
                  <!-- Below an alternative way to treat the @unit attribute. 
                     There is a <defaultVal>mm</defaultVal> but only possible when attDef/@usage='opt' (I don't quite get it but it's a schematron TEI rule see https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-attDef.html -->
                  <!-- alternative: optional attribute with <defaultVal> (oXygen shows the attribute value "mm" in the contextual menu) -->
                  <!--<attDef ident="unit" mode="replace" usage="rec">
                     <defaultVal>mm</defaultVal>
                     <valList type="closed">
                        <!-\- alternative: "mm" will appear in oXygen but the attribute has to be optional or recommanded... -\->
                        <valItem ident="mm"/>
                     </valList>
                  </attDef>-->
                  <!-- #AS: even if it is written the mm is the default value, it should not be treated as it in the ODD -->
                </attList>
            </elementSpec>
            
            <!-- div --><!-- AS 2024-02-24; last modified: AS 2024-03-15 -->
            <elementSpec ident="div" module="textstructure" mode="change">
               <constraintSpec ident="div" scheme="schematron">
                  <!-- constraining values of @subtype with div/@type=('bibliography','commentary','edition') -->
                  <constraint>
                     <sch:pattern>
                        <sch:rule context="tei:div[@type='bibliography']">
                           <sch:assert test="@subtype = ('edition','parallels','discussion')">Wth @type='bibliography', @subtype is required and its values are 'edition','parallels','discussion'.</sch:assert>
                        </sch:rule>
                        <sch:rule context="tei:div[@type='commentary']">
                           <sch:assert test="@subtype = ('text','footnotes')">Wth @type='commentary', @subtype is required and its values are 'text','footnotes'.</sch:assert>
                        </sch:rule>
                        <sch:rule context="tei:div[@type='edition']">
                           <sch:assert test="@subtype = ('editorial','diplomatic')">Wth @type='edition', @subtype is required and its values are 'editorial','diplomatic'.</sch:assert>
                        </sch:rule>
                     </sch:pattern>
                     <sch:pattern>
                        <sch:rule context="tei:div[@type='edition']">
                           <sch:assert test="tei:div[@type='textpart']">div/@type='edition' requires a child div/@type='textpart'.</sch:assert>
                        </sch:rule>
                     </sch:pattern>
                     <sch:pattern>
                        <sch:rule context="tei:div[@type='textpart']">
                           <sch:assert test="@n and @rend and @xml:lang">With div/@type='textpart', @n, @rend and @xml:lang must be supplied.</sch:assert><!-- the expression "must be supplied" should be used everywhere -->
                        </sch:rule>
                     </sch:pattern>
                     <sch:pattern>
                        <sch:rule context="tei:div[@type='textpart']">
                           <sch:assert test="@subtype = ('face','label','sigla')">With div/@type='textpart', @subtype with values 'face', 'label', 'sigla' must be supplied.</sch:assert>
                        </sch:rule>
                     </sch:pattern>
                  </constraint>
               </constraintSpec>
               <attList>
                  <attDef ident="n" mode="change">
                     <!-- constrining values of div/@n -->
                     <valList mode="change" type="closed">
                        <valItem ident="obv">
                           <desc xml:lang="en" versionDate="2024-02-24">For the edition of the obverse.</desc>
                        </valItem>
                        <valItem ident="rev">
                           <desc xml:lang="en" versionDate="2024-02-24">For the edition of the reverse.</desc>
                        </valItem>
                     </valList>
                  </attDef>
                  <attDef ident="rend" mode="change">
                     <!-- constraining values of div/@rend -->
                     <!-- value 'circLinear' deleted -->
                     <valList mode="change" type="closed">
                        <valItem ident="linear">
                           <desc xml:lang="en" versionDate="2024-02-24">For texts displayed on straight orizontal lines.</desc>
                        </valItem>
                        <valItem ident="circular">
                           <desc xml:lang="en" versionDate="2024-02-24">For texts displayed on circular lines.</desc>
                        </valItem>
                        <valItem ident="columns">
                           <desc xml:lang="en" versionDate="2024-02-24">For texts displayed on vertical columns.</desc>
                        </valItem>
                        <valItem ident="monogram-block">
                           <desc xml:lang="en" versionDate="2024-03-09">For texts displayed as a block monogram.</desc>
                        </valItem>
                        <valItem ident="monogram-cross">
                           <desc xml:lang="en" versionDate="2024-03-09">For texts displayed as a cruciform monogram.</desc>
                        </valItem>
                        <valItem ident="monogram-other"><!-- to be discussed -->
                           <desc xml:lang="en" versionDate="2024-03-09">For texts displayed as a monogram (not block nor cruciform).</desc>
                        </valItem>
                        <valItem ident="undetermined">
                           <desc xml:lang="en" versionDate="2024-03-09">Undetermined layout of the seal.</desc>
                        </valItem>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="change">
                     <!-- constrining values of div/@subtype -->
                     <valList mode="change" type="closed">
                        <valItem ident="diplomatic">
                           <desc xml:lang="en" versionDate="2024-02-24">To contain the diplomatic edition of the text.</desc>
                        </valItem>
                        <valItem ident="editorial">
                           <desc xml:lang="en" versionDate="2024-02-24">To contain the  editorial interpretation of the text.</desc>
                        </valItem>
                        <valItem ident="edition">
                           <desc xml:lang="en" versionDate="2024-02-24">To contain the bibliographic references of the edited text.</desc>
                        </valItem>
                        <valItem ident="parallels">
                           <desc xml:lang="en" versionDate="2024-02-24">To contain the bibliographic references of the parallels of the text.</desc>
                        </valItem>
                        <valItem ident="discussion">
                           <desc xml:lang="en" versionDate="2024-02-24">To contain the bibliographic references  with discussion - without publication - about the current text and/or about the parallel(s) of the current text.</desc>
                        </valItem>
                        <valItem ident="label">
                           <desc xml:lang="en" versionDate="2024-02-24">To contain the text related to an image.</desc>
                        </valItem>
                        <valItem ident="sigla">
                           <desc xml:lang="en" versionDate="2024-02-24">To contain the sigla related to an image.</desc>
                        </valItem>
                        <valItem ident="face">
                           <desc xml:lang="en" versionDate="2024-02-24">To contain the the text on the faces of the support.</desc>
                        </valItem>
                        <valItem ident="text">
                           <desc xml:lang="en" versionDate="2024-02-24">To differentiate the commentary from its footnotes.</desc>
                        </valItem>
                        <valItem ident="footnotes">
                           <desc xml:lang="en" versionDate="2024-02-24">To contain the footnotes of the commentary.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- editor --><!-- AS 2024-03-04; last modified: AS 2024-03-17 -->
            <elementSpec ident="editor" module="core" mode="change">
               <constraintSpec ident="editor" scheme="schematron" mode="add">
                  <constraint>
                     <sch:pattern>
                        <sch:rule context="tei:titleStmt/tei:editor[position()=1]">
                           <sch:assert test="@role='seal-editor'">
                              When editor is nested inside titleStmt, @role with a value of 'seal-editor' must be supplied.
                           </sch:assert>
                        </sch:rule>
                        <sch:rule context="tei:titleStmt/tei:editor[position()>1]">
                           <sch:assert test="not(@role='digital-editor')">
                              When editor is nested inside titleStmt, @role should not have a value of 'digital-editor'.
                           </sch:assert>
                        </sch:rule>
                        <sch:rule context="tei:editionStmt/tei:editor[position()=1]">
                           <sch:assert test="@role='digital-editor'">
                              When editor is nested inside editionStmt, @role with a value of 'digital-editor' must be supplied.
                           </sch:assert>
                        </sch:rule>
                        <sch:rule context="tei:editionStmt/tei:editor[position()>1]">
                           <sch:assert test="not(@role='seal-editor')">
                              When editor is nested inside editionStmt, @role should not have a value of 'seal-editor'.
                           </sch:assert>
                        </sch:rule>
                     </sch:pattern>
                  </constraint>
               </constraintSpec>
               <attList>
                  <attDef ident="role" mode="change" usage="req">
                     <!-- suggested values of editor/@role -->
                     <valList mode="change" type="semi">
                        <valItem ident="seal-editor">
                           <desc xml:lang="en" versionDate="2024-03-04">The editor of the seal.</desc>
                        </valItem>
                        <valItem ident="digital-editor">
                           <desc xml:lang="en" versionDate="2024-03-04">The creator of the digital record.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- figDesc --><!-- AS 2023-12-09; last modified: AS 2024-05-28 -->
            <elementSpec ident="figDesc" module="figures" mode="change">
               <constraintSpec ident="figDesc" scheme="schematron" mode="add">
                  <constraint>
                     <sch:pattern>
                        <sch:rule context="tei:figure//tei:figDesc[@n='r']">
                           <sch:assert test="@ana">With figDesc/@n='r' nested in figure, @ana is required</sch:assert>
                        </sch:rule>
                     </sch:pattern>
                     <sch:pattern>
                        <sch:rule context="tei:figure//tei:figDesc[@n='v']">
                           <sch:assert test="@ana">With figDesc/@n='v' nested in figure, @ana is required</sch:assert>
                        </sch:rule>
                     </sch:pattern>
                  </constraint>
               </constraintSpec>
               <attList>
                  <!-- constraining values of figDesc/@n -->
                  <attDef ident="n" mode="change" usage="req">
                     <valList mode="change" type="closed">
                        <valItem ident="r">
                           <desc xml:lang="en" versionDate="2023-12-09">Describes the iconography of the obverse.</desc>
                        </valItem>
                        <valItem ident="v">
                           <desc xml:lang="en" versionDate="2023-12-09">Describes the iconography of the reverse.</desc>
                        </valItem>
                        <valItem ident="decoR">
                           <desc xml:lang="en" versionDate="2023-12-09">Describes the decoration of the obverse.</desc>
                        </valItem>
                        <valItem ident="decoV">
                           <desc xml:lang="en" versionDate="2023-12-09">Describes the decoration of the reverse.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- graphic --><!-- AS 2024-03-19; last modified: AS 2024-03-26 -->
            <elementSpec ident="graphic" module="core" mode="change">
               <attList>
                  <!-- suggested values of graphic/@type -->
                  <attDef ident="type" mode="change" usage="req">
                     <desc xml:lang="en" versionDate="2024-03-19">
                        Describes the nature of the image.
                     </desc>
                     <valList mode="change" type="semi">
                        <valItem ident="photo">
                           <desc xml:lang="en" versionDate="2024-03-26">For a digital photograph of the seal itself.</desc>
                        </valItem>
                        <valItem ident="drawing">
                           <desc xml:lang="en" versionDate="2024-03-26">For a digital photograph of a drawing of a seal.</desc>
                        </valItem>
                        <valItem ident="analog">
                           <desc xml:lang="en" versionDate="2024-03-26">For a digital reproduction of/from an analog photograph of a seal (microfilm, film negatives, traditional printed photos, etc.).</desc>
                        </valItem>
                        <valItem ident="RTI">
                           <desc xml:lang="en" versionDate="2024-03-19">For an image of a seal produced with the Reflectance Transformation Imaging technique.</desc>
                        </valItem>
                        <valItem ident="3D-model">
                           <desc xml:lang="en" versionDate="2024-03-26">For a 3D model of a seal.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- idno --><!-- AS 2023-11-28/OK -->
            <elementSpec ident="idno" module="header" mode="change">
               <constraintSpec ident="idno" scheme="schematron" mode="add">
                  <!-- different uses of idno/@type -->
                  <constraint>
                     <sch:pattern>
                        <sch:rule context="tei:publicationStmt/tei:idno">
                           <sch:assert test="@type = ('filename','SigiDocID','sequence')">
                              When idno is nested inside publicationStmt, @type with values of 'filename', 'SigiDocID', 'sequence' must be supplied.
                           </sch:assert>
                        </sch:rule>
                        <sch:rule context="tei:person/tei:idno">
                           <sch:assert test="@type = ('PBW','PmbZ','PBE','PLP','PcBE','PLRE','PIB','Taktikon')">
                              When idno is nested inside person, @type with values of 'PBW', 'PmbZ', 'PBE', 'PLP', 'PcBE', 'PLRE', 'PIB', 'Taktikon' must be supplied.
                           </sch:assert>
                        </sch:rule>
                        <sch:rule context="tei:msIdentifier/tei:idno">
                           <sch:assert test="@type = ('inv-nr-current')">
                              When idno is nested inside msIdentifier, @type with a value of 'inv-nr-current' must be supplied.
                           </sch:assert>
                        </sch:rule>
                        <sch:rule context="tei:altIdentifier/tei:idno">
                           <sch:assert test="@type = ('inv-nr-former')">
                              When idno is nested inside altIdentifier, @type with a value of 'inv-nr-former' must be supplied.
                           </sch:assert>
                        </sch:rule>
                        <sch:rule context="tei:rs[@type='matrix']/tei:idno">
                           <sch:assert test="@type = ('SigiDoc','PBW','Taktikon')">
                              When idno is nested inside rs/@type='matrix', @type with values of 'SigiDoc', 'PBW', 'Taktikon' must be supplied.
                           </sch:assert>
                        </sch:rule>
                     </sch:pattern>
                  </constraint>
               </constraintSpec>
               <attList>
                  <!-- suggested values of idno/@type added -->
                  <attDef ident="type" mode="change" usage="req">
                     <desc xml:lang="en" versionDate="2023-06-25">Categorizes the identifier, for
                        example as an ISBN, Social Security number, etc. Suggested values include:
                        1] ISBN; 2] ISSN; 3] DOI; 4] URI; 5] VIAF; 6] ESTC; 7] OCLC; 8] filename; 9]
                        SigiDocID; 10] sequence; 11] SigiDoc; 12] PBW; 13] PmbZ; 14] PBE; 15] PLP; 16] PcBE; 17] PLRE; 18] PIB; 19] Taktikon;
                        20] inv-nr-current; 21] inv-nr-former.</desc>
                     <!-- 8 to 21 added by SigiDoc -->
                     <valList mode="change" type="semi">
                        <valItem ident="filename" mode="add">
                           <desc xml:lang="en" versionDate="2023-06-25">A name for the XML
                              file</desc>
                        </valItem>
                        <valItem ident="SigiDocID" mode="add">
                           <desc xml:lang="en" versionDate="2023-06-25">An ID given to the seal
                              edited in the XML file</desc>
                        </valItem>
                        <valItem ident="sequence" mode="add">
                           <desc xml:lang="en" versionDate="2023-06-25">A sequence of numbers to
                              navigate within a corpus</desc>
                        </valItem>
                        <valItem ident="SigiDoc" mode="add">
                           <desc xml:lang="en" versionDate="2023-06-25">An ID given to the matrix /
                              boulloterion of the seal edited in the XML file</desc>
                        </valItem>
                        <valItem ident="PBW" mode="add">
                           <desc xml:lang="en" versionDate="2023-06-25">An ID given to the matrix/boulloterion or to the issuer/owner of the seal edited in the XML file as established by the
                              Prosopography of the Byzantine World</desc>
                        </valItem>
                        <valItem ident="PmbZ" mode="add">
                           <desc xml:lang="en" versionDate="2023-06-25">An ID given to the issuer/owner of the seal edited in the XML file as established by the
                              Prosopographie der mittelbyzantinischen Zeit Online</desc>
                        </valItem>
                        <valItem ident="PBE" mode="add">
                           <desc xml:lang="en" versionDate="2023-06-25">An ID given to the issuer/owner of the seal edited in the XML file as established by the
                              Prosopography of the Byzantine Empire</desc>
                        </valItem>
                        <valItem ident="PLP" mode="add">
                           <desc xml:lang="en" versionDate="2023-06-25">An ID given to the issuer/owner of the seal edited in the XML file as established by the
                              Prosopographisches Lexikon der Palaiologenzeit</desc>
                        </valItem>
                        <valItem ident="PcBE" mode="add">
                           <desc xml:lang="en" versionDate="2023-06-25">An ID given to the issuer/owner of the seal edited in the XML file as established by the
                              Prosopographie chrétienne du Bas-Empire</desc>
                        </valItem>
                        <valItem ident="PLRE" mode="add">
                           <desc xml:lang="en" versionDate="2023-06-25">An ID given to the issuer/owner of the seal edited in the XML file as established by the
                              Prosopography of the Later Roman Empire</desc>
                        </valItem>
                        <valItem ident="PIB" mode="add">
                           <desc xml:lang="en" versionDate="2023-06-25">An ID given to the issuer/owner of the seal edited in the XML file as established by the
                              Prosopografia dell'Italia Bizantina</desc>
                        </valItem>
                        <valItem ident="Taktikon" mode="add">
                           <desc xml:lang="en" versionDate="2023-06-25">An ID given to the matrix/boulloterion or to the issuer/owner of the seal edited in the XML file as established by the
                              Taktikon project.</desc>
                        </valItem>
                        <valItem ident="inv-nr-current" mode="add">
                           <desc xml:lang="en" versionDate="2024-03-05">The actual inventory number of the seal.</desc>
                        </valItem>
                        <valItem ident="inv-nr-former" mode="add">
                           <desc xml:lang="en" versionDate="2024-03-05">The former inventory number of the seal.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- handNote --><!-- AS 2023-11-20 -->
            <elementSpec ident="handNote" module="header" mode="replace">
               <!-- changed with element seg and @n with constraining values-->
               <desc xml:lang="en" versionDate="2023-06-25">(note on hand) describes a
                  particular style or hand distinguished within a manuscript. [10.7.2.
                  Writing, Decoration, and Other Notations]</desc>
               <content>
                  <elementRef key="seg" minOccurs="0" maxOccurs="unbounded"/>
               </content>
               <attList>
                  <attDef ident="n" usage="req">
                     <valList type="closed">
                        <valItem ident="r">
                           <desc xml:lang="en" versionDate="2023-06-25">Epigraphic
                              description of the obverse</desc>
                        </valItem>
                        <valItem ident="v">
                           <desc xml:lang="en" versionDate="2023-06-25">Epigraphic
                              description of the reverse</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- interp --><!-- AS 2024-03-13; last modified: AS 2024-03-17 -->
            <elementSpec ident="interp" module="analysis" mode="change">
               <constraintSpec ident="interp" scheme="schematron" mode="add">
                  <!-- constraining values for interp/@type when nested in objectType -->
                  <constraint>
                     <sch:pattern>
                        <sch:rule context="tei:objectType/tei:interp">
                           <sch:assert test="@type = 'workType'">With interp nested in objectType, @type with a value of 'workType' must be supplied.</sch:assert>
                        </sch:rule>
                     </sch:pattern>
                  </constraint>
               </constraintSpec>
               <attList>
                  <attDef ident="type" usage="rec" mode="change">
                     <!-- suggested values of interp/@type -->
                     <valList type="semi" mode="add">
                        <valItem ident="workType">
                           <desc xml:lang="en" versionDate="2024-03-05">The way the object has been produced.</desc><!-- to be improved -->
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- layout --><!-- AS 2024-02-24; last modified: AS 2024-03-13 -->
            <elementSpec ident="layout" module="msdescription" mode="change">
               <content>
                  <sequence>
                     <elementRef key="dimensions" minOccurs="0" maxOccurs="unbounded"/>
                     <elementRef key="rs" minOccurs="0" maxOccurs="unbounded"/>
                     <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </content>
               <attList>
                  <attDef ident="n" mode="replace" usage="req">
                     <!-- constraining value for layout/@n -->
                     <valList type="closed">
                        <valItem ident="whole">
                           <desc xml:lang="en" versionDate="2024-02-25">The layout of the whole seal.</desc>
                        </valItem>
                        <valItem ident="r">
                           <desc xml:lang="en" versionDate="2024-02-21">The layout of the obverse.</desc>
                        </valItem>
                        <valItem ident="v">
                           <desc xml:lang="en" versionDate="2024-02-21">The layout of the reverse.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- listOrg --><!-- AS 2023-12-05 -->
            <elementSpec ident="listOrg" module="namesdates" mode="change">
               <!-- constraining value for listOrg/@type -->
               <attList>
                  <attDef ident="type" mode="replace" usage="req">
                     <valList type="closed">
                        <valItem ident="issuer">
                           <desc xml:lang="en" versionDate="2023-12-05">The issuer or owner of the seal.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- listPerson --><!-- AS 2023-11-22 -->
            <elementSpec ident="listPerson" module="namesdates" mode="change">
               <!-- constraining value for listPerson/@type -->
               <attList>
                  <attDef ident="type" mode="replace" usage="req">
                     <valList type="closed">
                        <valItem ident="issuer">
                           <desc xml:lang="en" versionDate="2023-11-22">The issuer or owner of the seal.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- measure --><!-- AS 2023-11-28 -->
            <elementSpec ident="measure" module="core" mode="change">
               <attList>
                  <!-- constraining values of measure/@unit and @type -->
                  <attDef ident="unit" mode="change" usage="req">
                     <valList mode="add" type="closed">
                        <valItem ident="g">
                           <desc xml:lang="en" versionDate="2023-06-23">Gram as a unit of
                              measure</desc>
                        </valItem>
                        <valItem ident="clock">
                           <desc xml:lang="en" versionDate="2023-06-23">Clock as a unit of
                              measure</desc>
                        </valItem>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="replace" usage="req">
                     <valList mode="add" type="closed">
                        <valItem ident="weight">
                           <desc xml:lang="en" versionDate="2023-06-23">The weight of the
                              object-seal</desc>
                        </valItem>
                        <valItem ident="axis">
                           <desc xml:lang="en" versionDate="2023-06-23">The orientation of
                              the obverse to the reverse, expressed with the clock
                              unit</desc>
                        </valItem>
                        <valItem ident="overstrikeOrient">
                           <desc xml:lang="en" versionDate="2023-06-23">The orientation of
                              the overstruck impression to the underlying impression,
                              expressed with the clock unit</desc>
                        </valItem>
                        <valItem ident="channelOrient">
                           <desc xml:lang="en" versionDate="2023-06-23">The orientation of
                              the channel, expressed with the clock unit</desc>
                        </valItem>
                        <valItem ident="countermark">
                           <desc xml:lang="en" versionDate="2023-06-23">The orientation of
                              the countermark to the underlying impression, expressed with
                              the clock unit</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- msPart --><!-- AS 2024-02-26 -->
            <elementSpec ident="msPart" module="msdescription" mode="change">
               <attList>
                  <attDef ident="n" mode="change" usage="req">
                     <valList mode="add" type="closed">
                        <valItem ident="r">
                           <desc xml:lang="en" versionDate="2024-02-27">Information about the seal's obverse.</desc>
                        </valItem>
                        <valItem ident="v">
                           <desc xml:lang="en" versionDate="2024-02-27">Information about the seal's reverse.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- objectType --><!-- AS 2024-02-25 -->
            <elementSpec ident="objectType" module="msdescription" mode="change">
               <!-- elements nested in objectType restricted -->
               <content>
                  <sequence>
                     <elementRef key="term"/>
                     <elementRef key="interp" minOccurs="1" maxOccurs="unbounded"/>
                  </sequence>
               </content>
            </elementSpec>
            
            <!-- org --><!-- AS 2023 -->
            <elementSpec ident="org" module="namesdates" mode="change">
               <attList>
                  <attDef ident="role" mode="replace" usage="req">
                     <desc xml:lang="en" versionDate="2023-11-22">Specifies a primary role or classification for the organisation, institution, group, etc.</desc>
                     <valList type="closed">
                        <valItem ident="corporate">
                           <desc xml:lang="en" versionDate="2023-11-22">For institutions of different nature.</desc>
                        </valItem>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="replace" usage="req"><!-- AS internal: should we allow at least 2 choices here? -->
                     <desc xml:lang="en" versionDate="2023-11-22">Specifies the milieu the organisation, institution, group, etc. belong to.</desc>
                     <valList type="closed">
                        <valItem ident="imperial">
                           <desc xml:lang="en" versionDate="2023-11-22">For rulers only (not the imperial family).</desc>
                        </valItem>
                        <valItem ident="civil">
                           <desc xml:lang="en" versionDate="2023-11-22">For holders of an office in the civil administration.</desc>
                        </valItem>
                        <valItem ident="military">
                           <desc xml:lang="en" versionDate="2023-11-22">For holders of an office in the military apparatus.</desc>
                        </valItem>
                        <valItem ident="aristocracy">
                           <desc xml:lang="en" versionDate="2023-11-22">Alternative when the legend
                              does not allow a safe choice esp. between "civil" and "military".</desc>
                        </valItem>
                        <valItem ident="secular-church">
                           <desc xml:lang="en" versionDate="2023-11-22">For holders of an office in the secular church.</desc>
                        </valItem>
                        <valItem ident="monastic">
                           <desc xml:lang="en" versionDate="2023-11-22">Pertaining to the monastic milieu.</desc>
                        </valItem>
                        <valItem ident="civic">
                           <desc xml:lang="en" versionDate="2023-11-22">Pertaining to the municipal level.</desc>
                        </valItem>
                        <valItem ident="private">
                           <desc xml:lang="en" versionDate="2023-11-22">Without dignities or offices in the State or the Church, or in case of an anonymous legend,
                              such as Οὗ δῶρόν εἰμι τὰς γραφὰς βλέπων νόει.</desc>
                        </valItem>
                        <valItem ident="undetermined">
                           <desc xml:lang="en" versionDate="2023-11-22">Undetermined milieu the institution.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- origDate --><!-- AS 2023; last modified: AS 2024-03-17 -->
            <elementSpec ident="origDate" module="msdescription" mode="change">
               <attList>
                  <!-- constraining values for origDate/@type -->
                  <attDef ident="type" mode="replace" usage="req">
                     <valList type="closed">
                        <valItem ident="analysis">
                           <desc xml:lang="en" versionDate="2023-12-09">For a dating based on editor's assessment.</desc>
                        </valItem>
                        <valItem ident="internal">
                           <desc xml:lang="en" versionDate="2023-12-09">For a dating based on a date on the seal.</desc>
                        </valItem>
                     </valList>
                  </attDef>
                  <!-- constraining values of origDate/@evidence -->
                  <!-- several values allowed: the schema also allows the repetition of the same value, as in EpiDoc's -->
                  <attDef ident="evidence" mode="change" usage="req">
                     <desc xml:lang="en" versionDate="2023-11-20">Suggested values include: 1] archaeological-context; 2] internal-date; 3] epigraphy; 4] onomastics; 5] prosopography; 6] terminology; 7] titulature;
                        8] reign; 9] historical-context; 10] iconography; 11] parallel; 12] related-seal; 13] coinage; 14] overstrike; 15] understrike; 16] decoration; 17] linguistic features;
                        18] attached-document; 19] undetermined.</desc>
                     <valList type="closed" mode="replace">
                        <valItem ident="archaeological-context">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by the archaeolgical
                              context, stratigraphy or associated finds</desc>
                        </valItem>
                        <valItem ident="internal-date">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by explicit internal
                              date</desc>
                        </valItem>
                        <valItem ident="epigraphy">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated
                              palaeographically</desc>
                        </valItem>
                        <valItem ident="onomastics">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by onomastics</desc>
                        </valItem>
                        <valItem ident="prosopography">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by known persons named
                              or implied within it</desc>
                        </valItem>
                        <valItem ident="terminology">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by the vocabulary
                              used</desc>
                        </valItem>
                        <valItem ident="titulature">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by the use of official
                              titles</desc>
                        </valItem>
                        <valItem ident="reign">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by the reign of an
                              emperor or other ruler</desc>
                        </valItem>
                        <valItem ident="historical-context">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by the broad
                              historical context</desc>
                        </valItem>
                        <valItem ident="iconography">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by the images</desc>
                        </valItem>
                        <valItem ident="parallel">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by the parallel
                              seal(s)</desc>
                        </valItem>
                        <valItem ident="related-seal">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by similar seals or
                              variously related to the edited seal</desc>
                        </valItem>
                        <valItem ident="coinage">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by comparison with
                              coins</desc>
                        </valItem>
                        <valItem ident="overstrike">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by an overstruck
                              imprint</desc>
                        </valItem>
                        <valItem ident="understrike">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by an understruck
                              imprint</desc>
                        </valItem>
                        <valItem ident="decoration">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by the decoration
                              elements</desc>
                        </valItem>
                        <valItem ident="linguistic-features">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by linguistic
                              features</desc>
                        </valItem>
                        <valItem ident="monogram-type">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated by monogram
                              type</desc>
                        </valItem>
                        <valItem ident="attached-document">
                           <desc xml:lang="en" versionDate="2024-03-08">Dated according to
                              the document the seal is attached to</desc>
                        </valItem>
                        <valItem ident="undetermined">
                           <desc xml:lang="en" versionDate="2023-06-23">Dated according to
                              undetermined criteria</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- persName --><!-- changement effacé par #AS, non nécessaire -->

            <!-- person --><!-- AS 2023-11-28 -->
            <elementSpec ident="person" module="namesdates" mode="change">
               <attList>
                  <attDef ident="role" mode="replace" usage="req">
                     <desc xml:lang="en" versionDate="2023-11-22">Specifies a primary role or classification for the person.</desc>
                     <datatype minOccurs="1" maxOccurs="2">
                        <dataRef key="teidata.enumerated"/><!-- AS internal: 2 choices allowed: ok? -->
                     </datatype>
                     <valList type="closed">
                        <valItem ident="imperial">
                           <desc xml:lang="en" versionDate="2023-11-22">For rulers only (not the imperial family).</desc>
                        </valItem>
                        <valItem ident="civil">
                           <desc xml:lang="en" versionDate="2023-11-22">For holders of an office in the civil administration.</desc>
                        </valItem>
                        <valItem ident="military">
                           <desc xml:lang="en" versionDate="2023-11-22">For holders of an office in the military apparatus.</desc>
                        </valItem>
                        <valItem ident="aristocracy">
                           <desc xml:lang="en" versionDate="2023-11-22">Alternative when the legend
                              does not allow a safe choice esp. between "civil" and "military".</desc>
                        </valItem>
                        <valItem ident="secular-church">
                           <desc xml:lang="en" versionDate="2023-11-22">For holders of an office in the secular church.</desc>
                        </valItem>
                        <valItem ident="monastic">
                           <desc xml:lang="en" versionDate="2023-11-22">Pertaining to the monastic milieu.</desc>
                        </valItem>
                        <valItem ident="civic">
                           <desc xml:lang="en" versionDate="2023-11-22">Pertaining to the municipal level.</desc>
                        </valItem>
                        <valItem ident="private">
                           <desc xml:lang="en" versionDate="2023-11-22">Without dignities or offices in the State or the Church, or in case of an anonymous legend,
                              such as Οὗ δῶρόν εἰμι τὰς γραφὰς βλέπων νόει.</desc>
                        </valItem>
                        <valItem ident="undetermined">
                           <desc xml:lang="en" versionDate="2023-11-22">Undetermined milieu the institution.</desc>
                        </valItem>
                     </valList>
                  </attDef>
                  <attDef ident="gender" mode="replace" usage="req"><!-- #AS internal: should we use an external standard? -->
                     <valList type="closed">
                        <valItem ident="M">
                           <desc xml:lang="en" versionDate="2023-11-22">The gender of the seal's issuer: male.</desc>
                        </valItem>
                        <valItem ident="F">
                           <desc xml:lang="en" versionDate="2023-11-22">The gender of the seal's issuer: female.</desc>
                        </valItem>
                        <valItem ident="E">
                           <desc xml:lang="en" versionDate="2023-11-22">The gender of the seal's issuer: eunuch.</desc>
                        </valItem>
                        <valItem ident="U">
                           <desc xml:lang="en" versionDate="2023-11-22">The gender of the seal's issuer: undetermined.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- provenance --><!-- AS 2023-11-24/ last modified: AS 2024-03-17 -->
            <elementSpec ident="provenance" module="msdescription" mode="change">
               <content>
                  <!-- major changes to provenance content -->
                  <alternate>
                     <sequence>
                        <elementRef key="placeName" maxOccurs="unbounded"/>
                        <sequence minOccurs="0">
                           <elementRef key="rs" minOccurs="0" maxOccurs="unbounded"/>
                           <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                        </sequence>
                     </sequence>
                     <sequence>
                        <elementRef key="rs" maxOccurs="unbounded"/>
                        <sequence minOccurs="0">
                           <elementRef key="placeName" minOccurs="0" maxOccurs="unbounded"/>
                           <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                        </sequence>
                     </sequence>
                     <sequence>
                        <elementRef key="p" maxOccurs="unbounded"/>
                        <sequence minOccurs="0">
                           <elementRef key="placeName" minOccurs="0" maxOccurs="unbounded"/>
                           <elementRef key="rs" minOccurs="0" maxOccurs="unbounded"/>
                        </sequence>
                     </sequence>
                  </alternate>
               </content>
               <constraintSpec ident="provenance" scheme="schematron" mode="add">
                  <!-- constraining values of provenance/@subtype according to the @type's values -->
                  <constraint>
                     <sch:pattern>
                        <sch:rule context="tei:provenance[@type='found']">
                           <sch:assert
                              test="@subtype = ('discovered','rediscovered','first-seen','first-recorded')"
                              >With provenance/@type='found', @subtype's values are
                              'discovered','rediscovered','first-seen','first-recorded'.</sch:assert>
                        </sch:rule>
                        <sch:rule context="tei:provenance[@type='observed']">
                           <sch:assert
                              test="@subtype = ('seen','recorded','identified','photographed','autopsied','squeeze-taken','rubbing-taken','ink-transfer-taken','reported','built-into','reappeared')"
                              > With provenance/@type='observed', @subtype's values are
                              'seen','recorded','identified','photographed','autopsied','squeeze-taken','rubbing-taken','ink-transfer-taken','reported','built-into','reappeared'.
                           </sch:assert>
                        </sch:rule>
                        <sch:rule context="tei:provenance[@type='not-observed']">
                           <sch:assert
                              test="@subtype = ('lost','stolen','destroyed','drawn','reported-lost','reported-stolen','reported-destroyed')"
                              >With provenance/@type='not-observed', @subtype's values are
                              'lost','stolen','destroyed','drawn','reported-lost','reported-stolen','reported-destroyed'.
                           </sch:assert>
                        </sch:rule>
                        <sch:rule context="tei:provenance[@type='transferred']">
                           <sch:assert
                              test="@subtype = ('moved','sold','given','loaned','auctioned','donated')"
                              >With provenance/@type='transferred', @subtype's values are
                              'moved','sold','given','loaned','auctioned','donated'.</sch:assert>
                        </sch:rule>
                     </sch:pattern>
                  </constraint>
               </constraintSpec>
               <attList>
                  <attDef ident="type" mode="replace" usage="req">
                     <!-- suggested values of provenance/@type -->
                     <datatype minOccurs="1" maxOccurs="1">
                        <dataRef key="teidata.enumerated"/>
                     </datatype>
                     <valList type="semi">
                        <valItem ident="found">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="observed">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="not-observed">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="transferred">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="replace" usage="req">
                     <!-- suggested values of provenance/@subtype -->
                     <datatype minOccurs="1" maxOccurs="1">
                        <dataRef key="teidata.enumerated"/>
                     </datatype>
                     <valList type="semi">
                        <valItem ident="discovered">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="rediscovered">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="first-seen">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="first-recorded">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="seen">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="recorded">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="identified">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="photographed">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="autopsied">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="squeeze-taken">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="rubbing-taken">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="ink-transfer-taken">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="reported">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="built-into">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="reappeared">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="lost">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="stolen">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="destroyed">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="drawn">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="reported-lost">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="reported-stolen">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="reported-destroyed">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="moved">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="sold">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="given">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="loaned">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="auctioned">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                        <valItem ident="donated">
                           <desc xml:lang="en" versionDate="2023-06-25"/>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- publicationStmt --><!-- AS 2023-11-24; last modified: AS 2024-03-17 -->
            <elementSpec ident="publicationStmt" module="header" mode="change">
               <content>
                  <!-- elements nested in publicationStmt restricted -->
                  <sequence minOccurs="1" maxOccurs="unbounded">
                     <elementRef key="authority" maxOccurs="unbounded"/>
                     <elementRef key="idno" maxOccurs="unbounded"/>
                     <elementRef key="date"/>
                     <elementRef key="availability"/>
                     <classRef key="model.publicationStmtPart.detail" minOccurs="0"
                        maxOccurs="unbounded"/>
                  </sequence>
               </content>
            </elementSpec>
            
            <!-- revisionDesc --><!-- #AS: deleted, unnecessary changes -->
            
            <!-- rs --><!-- AS 2024-03-13; last modified: AS 2024-05-28 -->
            <elementSpec ident="rs" module="core" mode="change">
               <constraintSpec ident="rs" scheme="schematron" mode="add">
                  <!-- constraining values of rs/@type when nested in collection -->
                  <constraint>
                     <sch:pattern>
                        <sch:rule context="tei:collection//tei:rs">
                           <sch:assert test="@type = 'collection-name' ">With rs nested in collection, @type is required and its value is
                              'collection-name'.</sch:assert>
                        </sch:rule>
                     </sch:pattern>
                     <!-- constraining values of rs/@type when nested in layout -->
                     <sch:pattern>
                        <sch:rule context="tei:layout//tei:rs">
                           <sch:assert test="@type = ('execution','shape','matrix')">With rs nested in layout, @type is required and its values are
                              'execution','shape','matrix'.</sch:assert>
                        </sch:rule>
                     </sch:pattern>
                     <sch:pattern>
                        <sch:rule context="tei:layout//tei:rs[@type='matrix']">
                           <sch:assert test="@subtype = ('surviving','not-surviving')">With rs/@type nested in layout, @subtype is required and
                              its values are 'surviving','not-surviving'.</sch:assert>
                        </sch:rule>
                     </sch:pattern>
                  </constraint>
               </constraintSpec>
               <attList>
                  <attDef ident="type" mode="change" usage="rec">
                     <!-- suggested values of rs/@type -->
                     <valList type="semi" mode="change">
                        <valItem ident="collection-name">
                           <desc xml:lang="en" versionDate="2024-05-28">For the name of the collection.</desc>
                        </valItem>
                        <valItem ident="execution">
                           <desc xml:lang="en" versionDate="2024-02-25">For the method of production of the seal.</desc>
                        </valItem>
                        <valItem ident="shape">
                           <desc xml:lang="en" versionDate="2024-02-25">For the shape of the seal.</desc>
                        </valItem>
                        <valItem ident="matrix">
                           <desc xml:lang="en" versionDate="2024-02-25">For the matrix of the seal.</desc>
                        </valItem>
                        <valItem ident="circumstances">
                           <desc xml:lang="en" versionDate="2024-02-26">For the circumstances of the finding.</desc>
                        </valItem>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="change" usage="rec">
                     <!-- suggested values of rs/@subtype -->
                     <valList type="semi" mode="change">
                        <valItem ident="surviving">
                           <desc xml:lang="en" versionDate="2024-02-26">For a surviving matrix.</desc>
                        </valItem>
                        <valItem ident="not-surviving">
                           <desc xml:lang="en" versionDate="2024-02-26">For a lost matrix.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <!-- #EMo - @rend, @key, @rf déjà dans epidoc donc pas ajouté  -->
            
            <!-- seg --><!-- AS EMo 2023 -->
            <elementSpec ident="seg" module="linking" mode="change">
               <!-- @xml:lang required in element seg -->
               <attList>
                  <attDef ident="xml:lang" mode="change" usage="req"/>
               </attList>
            </elementSpec>
            
            <!-- sourceDesc --><!-- AS 2023-11-22 -->
            <elementSpec ident="sourceDesc" module="header" mode="change">
               <content>
                  <sequence>
                     <alternate minOccurs="1">
                        <elementRef key="listPerson"/>
                        <elementRef key="listOrg"/>
                     </alternate>
                     <elementRef key="msDesc" minOccurs="1" maxOccurs="1"/>
                  </sequence>
               </content>
            </elementSpec>
            
            <!-- summary --><!-- AS 2024-02-25 -->
            <elementSpec ident="summary" module="msdescription" mode="change">
               <attList>
                  <!-- constraining values of summary/@n -->
                  <attDef ident="n" mode="change" usage="req">
                     <valList type="closed" mode="change">
                        <valItem ident="whole">
                           <desc xml:lang="en" versionDate="2024-02-25">For the classification of the seal.</desc>
                        </valItem>
                        <valItem ident="r">
                           <desc xml:lang="en" versionDate="2024-02-25">For the mention "Obverse" in any choosen language.</desc>
                        </valItem>
                        <valItem ident="v">
                           <desc xml:lang="en" versionDate="2024-02-25">For the mention "Reverse" in any choosen language.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- supplied --><!-- AS 2023-11-24 -->
            <elementSpec ident="supplied" module="transcr" mode="change">
               <attList>
                  <!-- suggested attribute added to supplied/@evidence -->
                  <attDef ident="evidence" mode="change" usage="opt">
                     <valList type="semi" mode="change">
                        <valItem ident="similar" mode="add">
                           <desc xml:lang="en" versionDate="2023-06-26">Characters supplied from a
                              similar but not strictly speaking parallel version of this text.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- support --><!-- AS 2024-02-25 -->
            <elementSpec ident="support" module="msdescription" mode="change">
               <content>
                  <!-- elements nested in support restricted -->
                  <sequence>
                     <elementRef key="objectType"/>
                     <elementRef key="material"/>
                     <elementRef key="dimensions" maxOccurs="unbounded"/>
                     <elementRef key="measure" maxOccurs="unbounded"/>
                  </sequence>
               </content>
            </elementSpec>
            
            <!-- supportDesc --><!-- AS 2024-02-25 -->
            <elementSpec ident="supportDesc" module="msdescription" mode="change">
               <attList>
                  <attDef ident="material" mode="change" usage="opt">
                     <!-- suggested values of supportDesc/@material -->
                     <desc xml:lang="en" versionDate="2024-02-25">A short project-defined name for the material composing the majority of the support
                        Suggested values include: 1] paper; 2] parch (parchment); 3] mixed ; 4] lead ; 5] gold ; 6] silver ; 7] wax ; 8] clay.</desc>
                     <!-- 4 to 8 added by SigiDoc -->
                     <valList mode="change" type="semi">
                        <valItem ident="lead">
                           <desc xml:lang="en" versionDate="2024-02-25">A seal made of lead.</desc>
                        </valItem>
                        <valItem ident="gold">
                           <desc xml:lang="en" versionDate="2024-02-25">A seal made of gold.</desc>
                        </valItem>
                        <valItem ident="silver">
                           <desc xml:lang="en" versionDate="2024-02-25">A seal made of silver.</desc>
                        </valItem>
                        <valItem ident="wax">
                           <desc xml:lang="en" versionDate="2024-02-25">A seal made of wax.</desc>
                        </valItem>
                        <valItem ident="clay">
                           <desc xml:lang="en" versionDate="2024-02-25">A seal made of clay.</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- surface --><!-- AS 2023-11-21; last modified: AS 2024-03-19 -->
            <!-- can be nested inside surfaceGrp for different photos of the same face, e.g. for RTI photos -->
            <elementSpec ident="surface" module="transcr" mode="change">
               <content>
                  <sequence>
                     <elementRef key="desc" minOccurs="1" maxOccurs="unbounded"/>
                     <elementRef key="graphic" minOccurs="1" maxOccurs="unbounded"/>
                  </sequence>
               </content>
               <attList>
                  <attDef ident="n" mode="change" usage="req">
                     <!-- suggested values of surface/@n -->
                     <valList mode="change" type="semi">
                        <valItem ident="r">
                           <desc xml:lang="en" versionDate="2024-03-19">For the representation of the
                              obverse</desc>
                        </valItem>
                        <valItem ident="v">
                           <desc xml:lang="en" versionDate="2024-03-19">For the representation of the
                              reverse</desc>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- textLang --><!-- AS 2023-11-24 -->
            <elementSpec ident="textLang" module="core" mode="change">
               <attList>
                  <!-- constraining values of textLang/@n; @mainLang now "required" -->
                  <attDef ident="n" mode="change" usage="req">
                     <valList mode="add" type="closed">
                        <valItem ident="r">
                           <desc xml:lang="en" versionDate="2023-06-24">For the language of the
                              obverse</desc>
                        </valItem>
                        <valItem ident="v">
                           <desc xml:lang="en" versionDate="2023-06-24">For the language of the
                              reverse</desc>
                        </valItem>
                     </valList>
                  </attDef>
                  <attDef ident="mainLang" mode="change" usage="req"/>
               </attList>
            </elementSpec>
            
            <!-- titleStmt --><!-- AS 2023-11-24/OK -->
            <elementSpec ident="titleStmt" module="header" mode="change">
               <content>
                  <sequence>
                     <elementRef key="title" maxOccurs="unbounded"/>
                     <elementRef key="editor" minOccurs="1" maxOccurs="unbounded"/>
                     <classRef key="model.respLike" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </content>
            </elementSpec>
         
         </schemaSpec>
      </body>
   </text>
</TEI>
